.wrap{
  background-color:#d0d0d0;
}
*{margin: 0 auto;
  /*margin:0px; padding:0px;*/
  font-family:  Georgia, serif;
}
a:link {text-decoration: none;}
.border {
  border-bottom: #e2494b solid 1px;
  z-index: 10;
}
/*Header class*/
.header {
  height:150px;
  width:960px;
  border-top: #894aa3 solid 10px;
  background-color: #ffffff;
}
.rightheader {
  float:left;
  width:650px;
  padding: 0px 0px;
}
.logo {
  width: 241px;
  height: 47px;
  padding: 50px 10px 30px 30px;
  float:left;
}
.searchform {
  padding: 0px 0px;
  float:right;
  
}
.searchform input[type='text']{
  width:250px;
  height:25px;
  border:0px;
  border-radius: 0px 0px 10px 10px;
  background-color: #ebebea;
  z-index: 10;
}
.searchform input[type='submit']{
  display: none;
}
.searchform label img {
  /*padding-top: 5px;*/
  z-index: 12;
  position: absolute;
  margin-left:210px;
  margin-top:-25px;
  width:25px;
  height:25px;
  cursor: pointer;
}



.top-nav {
  float:right;
  padding: 30px 0px;
}

.top-nav ul li a{
  font-size: 20px;
  text-decoration: none;
  color:#000000;
}
.top-nav ul li{
  text-align: center;
  float:left;
  list-style-type: none;
  width: 120px;
  padding: 10px 0px;

}
.top-nav ul li a:hover{
  text-decoration: none;
  color:#edb4b6;

}
/*End header class*/
.slogan{
  font-style:italic;
  font-family: "Georgia",serif;
  clear:both;
  width:960px;
  background-color: #ebebea;
  padding:30px 0px;
  text-align: center;
  font-size: 24px;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  clear:both;
  display:block;
}
.slider {
  position: relative;
  width: 960px;
  
}
.slider img {
  z-index: 11;
  width: 960px;
  height: 350px;
}
.slider input[name='slider-switch'] ~ label {
  opacity: 0;
  
  z-index: 11;
  position:absolute;
  left:0;top:0;right:0;bottom: 0;
}
.slider input[type='radio']:checked+label {
  opacity: 1;
  z-index: 11;
  position:absolute;
  /*left:0;top:0;right:0;bottom: 0;*/
}

.slider input[type="radio"] {
  position:relative;
  z-index: 12;
  margin-top: 310px;
  cursor: pointer;
  background: #c9c9c9;
}
.slider span>img {
  position:absolute;
  z-index: 20;
  width: 50px;
  height: 50px;
  margin-top:150px;
  cursor: pointer;
}
 #r {
  margin-left:880px;
}
#l {
   margin-left:-850px;
}

.slider label>span {
  display: block;
  position: relative;
  float:right;
  margin-top: -140px;
  margin-left: 560px;
  z-index: 21;
  width: 360px;
  height:90px;
  color:#c2c2c2;
  background-color: #0f0f0f;
  padding:20px;
  font-size:20px;
}
.slider input[type="radio"]:first-child {
  margin-left:20px;
}
.slider span {
  z-index: 13;
}
.ourservices {
  background-color: #ffffff;
  width:960px;

  min-height: 250px;
}
.services{
  
  padding: 30px 10px 30px 10px ;
  width:300px;
  float:left;
}
.services-common img{
  float:left;
  width:48px;
  height:48px;
  padding: 10px 10px;
}
.services-common h3{
  color:#894aa3;
  font-weight: normal;
  font-size: 20px;
  padding: 15px 10px;
}
.services-common span{
  padding-left: 70px;
  display:block;
  font-family:"Georgia",serif;
  color:#666666;
}

.ourplayer {
  background-color: #ebebea;
  min-height: 300px;
  width:960px;
}
.player {
  background-color: #ffffff;
  width:280px;
  float:left;
  margin: 50px 15px;
}
div.player:first-child {
  margin-left: 30px;
}
.player img{
  padding:10px;
  width:260px;
  height:180px;
}
.player span:nth-child(2) {
  color: #894aa3;
  font-size:17px;
}
.player span {
  text-align: center;
  display: block;
  padding:10px 10px;
  color:#5c5c5c;
}


/*lastest work class*/
.lastestwork {
  min-height: 200px;
  padding: 30px 30px;
  text-align: center;
  /*float:left;*/
} 
.work-img img{
  float:left;
  
  padding: 20px 50px;
  width: 300px;
  height: 160px;
}

/*Footer class*/
.footer {
  width:960px;
  clear:both;
  background-color: #ffffff;
  color:#999999;
}
.footer span:first-child {
  font-weight: normal;
  font-size:22px;
  padding-bottom: 20px;
}

/*Company Class*/
.company {
  padding: 30px 10px;
  float:left;
  line-height: 24px;
}
.company span {
  display: block;
}

.quicklinks {
  padding: 30px 10px;
  width:220px;
  float:left;
  
}
.quicklinks a {
  color:#999999;
  text-decoration:none;
  display: block;
  margin: 20px 0px; 
  border-bottom: #d5d5d5 solid 1px;
  
}

.blog {
  padding: 30px 10px;
  width:220px;
  float:left;
}
.blog span {
  display: block;
  line-height: 25px;
}
/*Contac class*/
.contact {
  padding:30px 10px;
  width:220px;
  float:left;
}
.contact input[type='text'] {
  margin-top:30px;
}
.contact input[type='text'],input[type='email'] {
  display: block;
  float:left;
  width:200px;
  padding: 5px;
  background-color: #ebebea;
  margin-bottom: 10px;
  border-radius: 10px;
  border:  #ebebea solid 1px;
}
.contact input[type="submit"] {
  float:left;
  width:100px;
  text-align: center;
  font-size: 15px;
  color:#a715ac;
  border-radius: 5px;
  border: #ffffff  solid 0px;
  font-weight: bold;
  padding:10px;
}
.contact input[type="submit"]:hover {
  cursor:pointer;
}
/*Copyright class*/ 
.copyright {
  color: #c9c9c9;
  padding:20px 20px 0px 20px;
  clear: both;
  height:40px;
  background-color: #444444;
}
.copyright span{

}
#copyright-left {
  float:left;
}
#copyright-right {
  float:right;
}

