*{
  margin:0px; padding:0px;
  font-family:Georgia;
}

.wrap{	
  margin: 0 auto;
  width: 1000px;
}
a { }
a:link { text-decoration: none;}
a:hover { cursor:pointer; }
.clearfix:after {
  content: '.';
  visibility: hidden;
  clear:both;
  display: block;

}
.border {
  border-bottom: #e2494b solid 1px;
  z-index: 10;
}
.header {
  width: 100%;

}
.logo {
  margin:40px 40px 40px 20px;
  width: 187px;
  height: 55px;
  float:left;
}
.top-nav {
  margin: 40px 10px;
  float:right;
}

.top-nav ul li{
  height:58px;
  text-align: center;
  float:left;
  list-style-type: none;
  width: 120px;
  background-color:#e2494b;
}
.top-nav ul li:first-child {
  border-radius:30px 0px 0px 30px ;
}
.top-nav ul li:last-child {
  border-radius: 0px 30px 30px 0px ;
}
.top-nav ul li a{
  font-weight: bold;
  display:block;
  padding: 20px 10px;
  color:#ffffff;
}
.top-nav ul li a:hover{
  text-decoration: none;
  color:#edb4b6;

}

.slogan{
  padding:40px 40px;
  text-align: center;
  font-size: 22px;
}

.slider {
  z-index: 14;
  position: relative;
  margin: 0px 20px;
  min-height: 430px;
}
.slider img {
  width: 960px;
  height: 350px;
}
.slider input[name='slider-switch'] ~ label {
  opacity: 0;
  z-index: 11;
  position:absolute;
  left:0;top:0;right:0;bottom: 0;
}
.slider input[type='radio']:checked+label {
  opacity: 1;
  z-index: 11;
}

.slider input[type="radio"] {
  z-index: 12;
  margin-top: 360px;  
  cursor: pointer;
}
.slider input[type="radio"]:first-child {
  margin-left:440px;
}

.div-center {
  z-index: 100;
  color: #ffffff;
  font-size: 20px;
  padding-top:10px;
  text-align: center;
  width: 170px;
  height: 30px;
  margin:-22px auto;
  border-radius: 20px;
  background-color: #e2494b;

}
.ourservices {
  border-top: #e2494b solid 1px;
  width:100%;
}
.services{
  
  margin: 50px 0px 50px 20px ;
  width:30%;

  float:left;
}
.services-common img{
  float:left;
  /*padding: 10px 10px;*/
}
.services-common p{
  font-size: 22px;
  margin-left: 50px;
  margin-bottom: 15px;
  padding-top:5px;
  color: #666666;
  
}
.services-common span{
  color: #979797;
}
.services-common a>span{
  color: #e2494b;
}

.ourplayer {
  min-height: 330px;
  padding: 50px 10px;
}
.player {
  float:left;
  width:176px;
  padding: 10px 10px;
}
.player img{
  background-color: #d5d5d5;
  margin-bottom: 10px;
  width:176px;
  height:176px;
}
.player span {
  line-height: 21px;
  color: #979797;
  display: block;
  width:176px;
}
.player span:last-child {
  color:#e2494b;
}
/*lastest work class*/
.lastestwork {
  min-height: 160px;
  padding: 50px 5px;
  text-align: center;
  /*float:left;*/
} 
.work-img img{
  float:left;
  padding: 0px 15px;
  width: 300px;
  height: 160px;
}

/*Footer class*/
.footer {
  padding: 30px  20px 0px 20px;
  background-color: #e2e2e2;
  clear:both;
  color: #989898;
}
.footer p {
  font-size:30px;
  color: #333333;
  font-family: Georgia;
}
.blog-post {
  width:460px;
  float:left;
}

.post img{
  border: #8e8f8a solid 1px;
  width: 95px;
  height: 95px;
  float:left;
}
.post span{
  padding:5px 10px 5px 110px;
  display: block;
}

/*Company Class*/
.company {
  padding: 0px 20px;
  float:left;
  width:225px;
}
.company span {
  display: block;
}

/*Contac class*/
.contact {
  width:225px;
  float:left;
}
.contact input,textarea {
  display: block;
  width:225px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: #ffffff solid 1px;
}
.contact input[type="submit"] {
  text-align: center;
  background-color: #e2494b;
  border-radius: 5px;
  border: #e2494b solid 1px;
  width:80px;
  font-weight: bold;
  color:#ffffff;
  height:30px;
}

/*Copyright class*/ 
.copyright {
  color: #999999;
  padding:10px 20px;

}
.copyright span {
  padding:20px 0px;

}
#copyright-left {
  float:left;
}
#copyright-right {
  float:right;
}

